* h1 {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;

color: #000000;
}

h2 {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 72px;
color: #000000;
}

h3 {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
color: #000000;
}

h4,h5,h6 {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
color: #000000;
}

p {
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
color: #000000;
}

.button {
    padding: 16px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button1 {
    background-color: #D5F9DE; 
    color: black; 
    border: 2px solid #000000;
  }
  
  .button1:hover {
    background-color: #B4ADEA;
    color: white;
  }

  .button1:visited {
    background-color: #261447 ;
    color: white
  }

  hr {
    border-top: 5px solid #02394A;
  }
