* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #FDFFF7;
  color: #000;
  font-family: "Hahmlet";
  /* font-family: "Trirong", serif; */
  font-style: normal;
  font-weight: 400;
  display: flex;
  margin: 0;
}

img {
  display: grid;
  align-self: center;
}

.grid {
  max-width: 900px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.photos {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
    font-size: 60px;
    line-height: 87px;
    text-align:center;
    text-shadow: #000;
    background-color: #99cbec;
}

h2 {
    font-size: 50px;
    line-height: 72px;
}

h3 {
    font-size: 40px;
    line-height: 58px;
}

h4,h5,h6 {
    font-size: 30px;
    line-height: 43px;
}

p {
    font-size: 19px;
    line-height: 28px;
}

.navbardesktop ul {
  list-style: none;
  display: flex;
  justify-content:center;
  text-decoration: none;
}

.navbardesktop li a{
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 25px; 
}

.navbardesktop{
  background-color: #99cbec;
  list-style-type: none;
  /* padding-right: 10em;
  padding-left: 10em; */
  padding-bottom: 3em;
  width: 100%;
}

.navbardesktop :hover{
  text-decoration: none;
  color: #FDFFF7;
}

.navbarmobile {
  display: none;
}

.navbarmobile :hover{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width:600px)
{
  .navbarmobile {
    display: flex;
    padding: 10px;
    text-align: left ;
  }

  nav ul {
    flex-direction: column;
    width: 20%;
    background-color: #B4ADEA;
    top: 15px;
    right: 0;
    padding: 10px;
    list-style-type:none ;
  }
  nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  .navbardesktop {
    display: none;
  }
}

/* Book Review */
* {box-sizing:border-box}

/* slideshow container */
.slideshow-container {
  max-width: 450px;
  display: grid;
  position: center;
  /* moves farther from left */
  margin:30px;
}

/* Hide the images by default */
.mySlides {
  display:grid;
  grid-template-columns: auto;
}

/* buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* how far from top you go */
  top: 92%;
  width: auto;
  /* changes down or up direction */
  margin-top: -22px;
  /* padding of the button */
  padding: 30px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* next button*/
.next {
  right: 0;
  border-radius: 20px 20 20 20px;
}

/* purple hover*/
.prev:hover, .next:hover {
  background-color: #B4ADEA;
}

/* caption */
.text {
  color: black;
  font-size: 28px;
  /* text-decoration: overline; */
  padding: 100px 100px;
  position:absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  display: grid;
}

/* fading */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

